* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #050a19;
  color: white;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #0f193d 0%, #0f193d 30%, transparent 100%);
  z-index: -1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

.logo {
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 2px;
}

nav ul {
  display: flex;
  gap: 40px;
}

nav a {
  color: #ccc;
  font-size: 0.9rem;
  transition: 0.3s;
}

nav a:hover {
  color: white;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.signup-btn {
  color: white;
  font-weight: bold;
}

.search-bar {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  padding: 8px 15px;
  border-radius: 20px;
  color: white;
  outline: none;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
  padding: 0 50px;
}

.hero-content {
  max-width: 500px;
}

.rank {
  font-size: 1.5rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.rank span {
  font-size: 3rem;
  font-weight: 900;
  color: #ffd700;
  font-style: italic;
  font-family: "Times New Roman", serif;
}

.subtitle {
  color: #aaa;
  font-size: 0.9rem;
  margin-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1 {
  font-size: 3.5rem;
  line-height: 1;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.korean-name {
  font-size: 1.5rem;
  color: #bbb;
  margin-bottom: 30px;
  display: block;
}

.description {
  color: #ccc;
  font-size: 0.9rem;
  line-height: 1.6;
  text-align: justify;
}

.sidebar {
  text-align: right;
  padding-right: 20px;
}

.sidebar h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.sidebar h2::before {
  content: "•";
  color: white;
}

.sidebar li {
  margin-bottom: 15px;
}

.sidebar a {
  color: #6fa3dce3;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.3s;
}

.sidebar a:hover {
  color: white;
  text-shadow: 0 0 10px #1c58a6;
}

.particles {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

.particle {
  position: absolute;
  bottom: -10px;
  background: #ff5e00;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  animation: floatUp 5s infinite linear;
  opacity: 0;
}

@keyframes floatUp {
  0% {
    bottom: 0;
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    bottom: 80%;
    opacity: 0;
    transform: translateX(20px);
  }
}

.personagem {
  padding-top: 90px;
  margin-left: 400px;
}

.personagem img {
  width: 100%;
  height: auto;
}

.p1 {
  left: 20%;
  animation-duration: 4s;
  animation-delay: 0s;
}
.p2 {
  left: 50%;
  animation-duration: 6s;
  animation-delay: 1s;
}
.p3 {
  left: 70%;
  animation-duration: 3s;
  animation-delay: 2s;
}
.p4 {
  left: 30%;
  animation-duration: 5s;
  animation-delay: 0.5s;
}
.p5 {
  left: 80%;
  animation-duration: 7s;
  animation-delay: 3s;
}

/* responsivo ______________________________________________ */
@media (max-width: 768px) {
  body {
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .background-image,
  .overlay {
    display: none;
  }

  main {
    flex-direction: column;
    height: auto;
    padding: 0;
  }

  .personagem {
    order: 1;
    display: block;
    width: 100%;
    margin: 0;
    text-align: center;
    padding-top: 20px;
  }

  .personagem img {
    max-width: 100%;
    height: auto;
    mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
  }

  .hero-content {
    order: 2;
    max-width: 100%;
    padding: 20px;
    text-align: center;
  }

  .rank {
    justify-content: center;
  }
  h1 {
    font-size: 2.5rem;
  }
  .description {
    text-align: center;
  }

  .sidebar {
    order: 3;
    width: 100%;
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
  }

  .sidebar h2 {
    justify-content: center;
  }

  header {
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    background-color: #050a19;
  }

  .header-right,
  nav ul {
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .search-bar {
    width: 100%;
  }
}
